body {
  font-family: "Raleway", sans-serif;
}

.nombre {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/Logo_gotharo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 10% 50%;
  background-color: #373a3c;
  background-size: 400px;
  
}
.bg-parrafo {
  background-color: rgba(55, 58, 60, 0.8); /* Color de fondo gris claro */
  padding: 10px; /* Opcional: Añade espacio interno */
  
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
 .color {
  color: black;
  
 }